<div class = "main_header">
</div>

  <div class = "signup_page">
    <div class = "new_title" >送付先住所情報登録</div>

    <%= form_for @address do |f| %>
      <%= render "devise/shared/error_messages", resource: @address %>

      <div class = "field" >
        <%= f.label :郵便番号 %><span class = form_require>必須</span><br />
        <%= f.text_field :zipcode, class: "input_box" %>
      </div>

      <div class = "field" >
        <%= f.label :都道府県 %><span class = form_require>必須</span><br />
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %><br />
      </div>

        <div class = "field" >
        <%= f.label :市区町村 %><span class = form_require>必須</span><br />
        <%= f.text_field :city, class: "input_box" %>
      </div>

      <div class = "field" >
        <%= f.label :番地 %><span class = form_require>必須</span><br />
        <%= f.text_field :block, class: "input_box" %>
      </div>

      <div class = "field" >
        <%= f.label :"マンション名,ビル名 部屋番号" %><br />
        <%= f.text_field  :building, class: "input_box" %>
      </div>

        <div class = "field" >
        <%= f.label :電話番号 %><span class = form_require>必須</span><br />
        <%= f.text_field :phone_number, class: "input_box" %>
      </div>

      <div class = "actions" >
        <%= f.submit "完了", class: "red_btn" %>
      </div>
    <% end %>
  </div>

<div class = "main_footer" >
</div>