%div.side_bar
  %h1.side_bar__title マイページメニュー
  %ul.list-group
    %li.list-group__content
      = link_to 'お知らせ',"#", class: 'a'
    %li.list-group__content
      = link_to 'いいねした商品', user_path(current_user.id), class: 'a'
  %h1.side_bar__title 商品を出品する
  %ul.list-group
    %li.list-group__content
      = link_to '商品を出品する', new_product_path, class: 'a'
    %li.list-group__content
      = link_to '出品した商品',"#", class: 'a'
    %li.list-group__content
      = link_to '自分のショップを見る',"#", class: 'a'


  %h1.side_bar__title 商品を購入する
  %ul.list-group
    %li.list-group__content
      = link_to '購入した商品',"#", class: 'a'
    %li.list-group__content
      = link_to '最近見た商品',"#", class: 'a'
    %li.list-group__content
      = link_to 'コメントした商品',"#", class: 'a'

  %h1.side_bar__title 設定
  %ul.list-group
    %li.list-group__content
      = link_to 'プロフィール',"#", class: 'a'
    %li.list-group__content
      = link_to '発送元・お届け先住所変更',"#", class: 'a'
    %li.list-group__content
      = link_to '支払方法', new_card_path , class: 'a'
    %li.list-group__content
      = link_to 'メール・パスワード',"#", class: 'a'
    %li.list-group__content
      = link_to '本人情報',"#", class: 'a'
    %li.list-group__content
      = link_to '電話番号の確認',"#", class: 'a'
    %li.list-group__content
      = link_to 'ログアウト', logout_users_path, class: 'a'


