.product-footer
  %ul.footer-product__contract
    %li
      .li-privacy
        = link_to "プライバシーポリシー", "#"
    %li
      .li-contract
        = link_to "フリマ利用規約", "#"
    %li
      .li-transaction
        = link_to "特定商取引に関する表記", "#"
  .footer-product__logo
    = link_to root_path do
      .footer-product__logo__img
        = image_tag 'logo/logo-white.png'
  %p
    %small © 2020 FURIMA